#  Bici Mad

In [1]:
import pandas as pd
import requests

In [2]:
bicimad_df = pd.read_csv('../data/bicimad_stations.csv', sep = '\t')

In [3]:
bicimad_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            264 non-null    int64
 1   id                    264 non-null    int64
 2   name                  264 non-null    object
 3   light                 264 non-null    int64
 4   number                264 non-null    object
 5   address               264 non-null    object
 6   activate              264 non-null    int64
 7   no_available          264 non-null    int64
 8   total_bases           264 non-null    int64
 9   dock_bikes            264 non-null    int64
 10  free_bases            264 non-null    int64
 11  reservations_count    264 non-null    int64
 12  geometry.type         264 non-null    object
 13  geometry.coordinates  264 non-null    object
dtypes: int64(9), object(5)
memory usage: 29.0+ KB

In [4]:
bicimad_df.head()

,Unnamed: 0,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"

In [5]:
#BICIMAD
#Escogemos las columnas que nos interesan de bicimad y creamos un nuevo dataframe
bicimad_df_clean = bicimad_df [['name', 'address', 'geometry.type', 'geometry.coordinates']]
bicimad_df_clean

,name,address,geometry.type,geometry.coordinates
0,1a - Puerta del Sol A,Puerta del Sol nº 1,Point,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol nº 1,Point,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya nº 1,Point,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,Point,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña nº 5,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,Point,"[-3.72997, 40.43896]"
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,Point,"[-3.72699, 40.44375]"
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,Point,"[-3.72693, 40.44342]"
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,Point,"[-3.7272945, 40.4483322]"
263,261 - Facultad Derecho,Avenida Complutense nº 23,Point,"[-3.72937, 40.45109]"

In [6]:
#BICIMAD
#Usamos split para separar mediante la coma
#Añadimos dos columnas de las coordinadas, que son latitud y longitud
#Concatenamos el dataframe limpio que tenemos junto con el nuevo de coordenadas
split_mad = bicimad_df_clean['geometry.coordinates'].str.strip('[]').str.split(',', expand=True).astype('float64')
split_mad.columns = ['longitude', 'latitude']
df_concat = pd.concat([bicimad_df_clean,split_mad],axis=1)
df_concat

,name,address,geometry.type,geometry.coordinates,longitude,latitude
0,1a - Puerta del Sol A,Puerta del Sol nº 1,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,1b - Puerta del Sol B,Puerta del Sol nº 1,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,2 - Miguel Moya,Calle Miguel Moya nº 1,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,4 - Malasaña,Calle Manuela Malasaña nº 5,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,261 - Facultad Derecho,Avenida Complutense nº 23,Point,"[-3.72937, 40.45109]",-3.729370,40.451090

In [7]:
#BICIMAD eliminamos las columnas que no nos interesan
df2 = df_concat.drop(columns = ['geometry.coordinates', 'geometry.type']) 
df2

,name,address,longitude,latitude
0,1a - Puerta del Sol A,Puerta del Sol nº 1,-3.701834,40.417214
1,1b - Puerta del Sol B,Puerta del Sol nº 1,-3.701603,40.417313
2,2 - Miguel Moya,Calle Miguel Moya nº 1,-3.705842,40.420589
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,-3.706917,40.430294
4,4 - Malasaña,Calle Manuela Malasaña nº 5,-3.702587,40.428552
...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,-3.729970,40.438960
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,-3.726990,40.443750
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,-3.726930,40.443420
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,-3.727295,40.448332
263,261 - Facultad Derecho,Avenida Complutense nº 23,-3.729370,40.451090